---
import { type CollectionEntry, getCollection } from "astro:content";
import Note from "@/components/note/Note.astro";
import SocialList from "@/components/SocialList.astro";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes
	.sort(collectionDateSort)
	.slice(0, MAX_NOTES) as CollectionEntry<"note">[];
---

<PageLayout meta={{ title: "Home" }}>
	<!-- <section>
		<h1 class="title mb-6">LLM Persuasion Hub</h1>
		<p class="mb-4">
			A curated collection of datasets, codebases, and research related to persuasive techniques and
			behavior change in large language models.
		</p>
		<p class="mb-6">
			Explore the <a href="/resources/">Resources</a> to find datasets, codebases, and papers. <a
				href="/contact/">Contact us</a
			> to contribute or provide feedback.
		</p>
		<SocialList />
	</section> -->

	<h1 class="title mb-8">Welcome</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			<strong>Safe Persuasion Hub</strong> is a collection of datasets and codebases used to study and
			evaluate persuasion in large language models (LLMs). The goal is to bring together the most relevant
			resources as they emerge, making safety-relevant research easier to discover, compare, and reproduce.
		</p>
		<h3>What is included</h3>
		<ul class="list-inside list-disc">
			<li>
				<strong>Research papers</strong> — that provide either a dataset, open source code or both.
			</li>
			<li>
				<strong>Datasets</strong> — link & a short description of the dataset used in the mentioned research
				paper.
			</li>
			<li>
				<strong>Codebases</strong> — link & a short description of the codebase used in the mentioned
				research paper.
			</li>
		</ul>
		<h3>Adding new resources</h3>
		<p>
			If you know of a relevant resource, there are two ways to add it:
			<ul class="list-inside list-disc">
				<li>
					<strong>Contact us</strong> — share the resource with us by reaching out via the <a
						href="/contact/">contact form</a
					>.
				</li>
				<li>
					<strong>GitHub</strong> — add it to the website's <a
						href="https://github.com/kamiledementaviciute/llm-persuasion-resource-hub"
						target="_blank"
						rel="noreferrer">GitHub repository</a
					> and raise a pull request.
				</li>
			</ul>
		</p>
	</div>
</PageLayout>
